BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 0
AccessModifierOffset: -4
FixNamespaceComments: true
NamespaceIndentation: None
IncludeBlocks: Preserve
AlignConsecutiveDeclarations: true
ConstructorInitializerAllOnOneLineOrOnePerLine: false
